html {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	font-size: 16px;
	color: rgb(80, 73, 99);
}

*, *:before, *:after {
	box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
	margin: 0;
	padding: 0;
}

html, body, #React-App {
	height: 100%;
	width: 100%;
}

#React-App > main {
	margin: 0 auto;
	max-width: 500px;
}

ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit
}

/* root variables */
:root {
	--color-box: #0d0711;
	--color-box-foreground: #33cccc;
	--color-border: crimson;
}

.dark-box {
	padding: 0.25rem 0.50rem;
	background-color: black;
	color: white;
	font-weight: 600;
	font-size: 125%;
}